<!--slider menu-->
<div class="sidebar-menu">
  <div class="menu">
    <ul id="menu" >
      <li id="menu-home" ><a href="#" routerLink="/admin/" routerLinkActive="active"><i class="fa fa-tachometer"></i><span>Trang chính</span></a></li>
      <li><a routerLinkActive="active" routerLink="/admin/product" href="#"><i class="fa fa-shopping-cart"></i><span>Sản phẩm</span></a></li>
      <li><a routerLinkActive="active" routerLink="/admin/category" href="#"><i class="fa fa-circle"></i><span>Danh mục</span></a></li>
      <li><a routerLinkActive="active" routerLink="/admin/order" href="#"><i class="fa fa-envelope-open"></i><span>Đơn hàng</span></a></li>
    </ul>
  </div>
</div>
<div class="clearfix"> </div>
<!--slide bar menu end here-->

