
<!--mainpage chit-chating-->
<div class="chit-chat-layer1">
  <div class="col-md-12 chit-chat-layer1-left">
    <div class="work-progres">
      <div class="chit-chat-heading">
        Product Manager
        <div class="form-group" style="float: left ; width: 100%">
          <a class="btn btn-default" routerLink="/admin/category/add" style="float: left">Add Category</a>
          <input style="width: 500px;float: left;margin:0px 10px"  [(ngModel)]="searchText" autocomplete="off" class="form-control" name="search" placeholder="Enter keywords" type="text">
          <select [(ngModel)]="pageSize" class="form-control" style="width: auto;float: right">
            <option *ngIf="categorys?.length>=4" [ngValue]="4">4 product per page</option>
            <option *ngIf="categorys?.length>=8"  [ngValue]="8">8 product per page</option>
            <option [ngValue]="categorys?.length">All product per page</option>
          </select>
        </div>
      </div>
      <div class="table-responsive" style="width: 100%">
        <table class="table table-hover" id="myTable">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categorys  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText; index as i ">
            <td>{{i+1}}</td>
            <td>{{category.name}}</td>
            <td>
              <a (click)="removeCategory(category.id)" class="btn btn-default"><i class="fa fa-remove"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav style=" text-align: center; padding: 50px;">
        <!-- pagination-->
        <ul class="pagination pagination-lg">
          <ngb-pagination
            [(page)]="page"
            [collectionSize]="categorys.length"
            [pageSize]="pageSize">
          </ngb-pagination>
        </ul>
      </nav>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
